<nav class="normal">
  <div class="auto container">
    <a class="" href="/"><img class="logo" src="/modules/core/client/img/brand/logo.png"></a>
    <button onclick="dropdownMobile()" class="mobile-menu"><img src="/modules/core/client/img/mobile-menu.png"></button>
    <div class="main-menu">
      <ul>
        <li class="signup-btn"><a href="#">Sign up</a></li>
        <li class="login-btn"><a class="mg-left" href="#">Log in</a></li>
        <li class="how-btn"><a class="mg-left" href="#">How it works</a></li>
        <li class="list-btn"><a class="fill mg-left" href="#">List your trip</a></li>
      </ul>
    </div>
    <div class="dropdown select">
      <select>
        <option value="">Where to go?</option>
        <option value="Bangkok">Bangkok</option>
        <option value="Ayutthaya">Ayutthaya</option>
        <option value="Chachoengsao">Chachoengsao</option>
        <option value="Chanthaburi">Chanthaburi</option>
        <option value="Chonburi">Chonburi</option>
        <option value="Karnchanaburi">Karnchanaburi</option>
        <option value="Lopburi">Lopburi</option>
        <option value="Nakhon Nayok">Nakhon Nayok</option>
      </select><span>Where to go?</span>
      <div class="arrow"></div>
    </div>
  </div>
  <div class="mobile-wall" id="mobile-wall">
    <ul class="mobile-menu-list open">
      <li><a href="#"><span>Signup</span></a></li>
      <li><a href="#"><span>Login</span></a></li>
      <li><a href="#"><span>How it works</span></a></li>
      <li><a href="#"><span>List your trip</span></a></li>
    </ul>
  </div>
</nav>
