//colors
$white: #fff;
$black: #000;
$mountain: #979797;
$tundora: #444;
$scooter: #1cb6e6;
$iron: #d8d8d8;
$tango: #e86a1a;
$black_30: rgba(0,0,0,.3);
$black_40: rgba(0,0,0,.4);
$black_12: rgba(0,0,0,.12);

//urls
$img-search: url("/modules/core/client/img/search-grey.png");
$img-arrow: url("/modules/core/client/img/triangle-grey.png");
$img-inspiration: url("/modules/core/client/img/inspiration-home.png");
